/*===========================
============Fuente===========
===========================*/

/*===========================
============General==========
===========================*/
body, html, div, p, ul, li{
    margin: 0;
    padding: 0;
}
body{
	background: #151618 url(../images/general-bg.png) no-repeat top center;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing:antialiased;
 	font-smoothing:antialiased;
 	text-rendering:optimizeLegibility;
}

/*===========================
============Loader===========
===========================*/

.loader {
  width: 20px;
  height: 20px;
  margin: 50vh auto;
  position: relative;
}

.loader > div {
  width: 6px;
  height: 20px;
  position: absolute;
  left: -10px;
  bottom: 15px;
  border-radius: 5px;
  transform-origin: 10px 35px;
  transform: rotate(0deg);
  animation: loader 0.8s infinite;
}
.loader > div:nth-child(2) {
  transform: rotate(45deg);
  animation-delay: 0.1s;
}
.loader > div:nth-child(3) {
  transform: rotate(90deg);
  animation-delay: 0.2s;
}
.loader > div:nth-child(4) {
  transform: rotate(135deg);
  animation-delay: 0.3s;
}
.loader > div:nth-child(5) {
  transform: rotate(180deg);
  animation-delay: 0.4s;
}
.loader > div:nth-child(6) {
  transform: rotate(225deg);
  animation-delay: 0.5s;
}
.loader > div:nth-child(7) {
  transform: rotate(270deg);
  animation-delay: 0.6s;
}
.loader > div:nth-child(8) {
  transform: rotate(315deg);
  animation-delay: 0.7s;
}

@keyframes loader {
  0% {
    background: transparent;
    left: -10px;
    transform-origin: 10px 35px;
  }
  40% {
    background: #fff;
  }
  100% {
    background: transparent;
    left: 10px;
    transform-origin: -10px 35px;
  }
}

.me-gusta-btn{
    margin: 30px auto;
    display:block;
}
.logo{
    display:block;
    margin:90px auto;
}
.container{
    width: 800px;
    margin: 0 auto;
    padding: 0;
}
.mini-logo{
    display: block;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -102px;   
}
.main-content{
    background: url(../images/content-bg.png) no-repeat top center;
    width: 538px;
    height:319px;
    margin: 55px auto;
    padding: 80px 50px 50px 50px;
    font-size: 14px;
    color: #d8d8d8;
}
.intro{
    text-align:center;
    padding-bottom:30px;
}
input[type="text"]{
    font-size:24px;
    width: 500px;
    padding: 12px 20px;
    border: none;
}
.compartir{
    background: url(../images/compartir-btn.png) no-repeat top center;
    width:323px;
    height:65px;
    border:none;
    display:block;
    margin:20px auto;
    cursor:pointer;
}
.compartir:hover{
    background-position: 0px -67px;
}